<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thatteidlipudina.com.vheal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSbqXphN86LW0uAySayhxp50-TM2bWos8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity1"
            android:theme="@style/biege">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thatteidlipudina.com.vheal.MainActivity1" />
        </activity>
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thatteidlipudina.com.vheal.RegisterActivity" />
        </activity>
        <activity android:name=".MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thatteidlipudina.com.vheal.MainActivity" />
        </activity>
        <activity android:name=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thatteidlipudina.com.vheal.MainActivity1" />
        </activity>
        <activity android:name=".UploadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thatteidlipudina.com.vheal.Ailments_or_Report" />
        </activity>
        <activity android:name=".Ailments_or_Report">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thatteidlipudina.com.vheal.MapActivity" />
        </activity>
        <activity android:name=".Credit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thatteidlipudina.com.vheal.UploadActivity" />
        </activity>
        <activity android:name=".Search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thatteidlipudina.com.vheal.LoginActivity" />
        </activity>
        <activity android:name=".BackgroundClassWorker" />
        <activity android:name=".Backgroundworker"></activity>
    </application>

</manifest>